@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
/* font-family: 'Exo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Marhey&display=swap');
/* font-family: 'Marhey', sans-serif; */

body {
  background-color: #7A9855;
}

h1 {
  font-family: 'Marhey', sans-serif;
  text-align: center;
  color: #B5CA69;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}


/* validation champs */
.valid-feedback,
.invalid-feedback {
  margin-left: calc(2em + 0.25rem + 1.5rem);
}


/* formulaire */

.container form {
  background-image: url(/assets/img/bginscription.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

form {
  width: 70rem;
  height: 30rem;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  font-family: 'Exo', sans-serif;
  color: #206D3C;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;
}

label {
  background-color: rgba(215, 197, 168, 0.5);
  display: inline-block;
  padding: 0.2em 0.5em;
}

/* Style des champs de saisie */
input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="password"] {
  width: 100%;
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.password-toggle-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #206D3C;
  z-index: 1; 
  font-size: 1.2rem;
}

.form-control[type="password"] {
  width: 100%;
}

select#entreprise {
  margin-bottom: 2rem;
  width: 66rem;
  margin-left: 0.8rem;
}

.form-check {
  margin-bottom: 2rem;
}

/* Style du bouton */
.button {
  padding: 10px 20px;
  background-color: #206D3C;
  color: #fff;
  border: none;
  border-radius: 5px;
  text-align: center;
  font-family: 'Exo', sans-serif;
}

.button:hover {
  background-color: #7A9855;
}

body>div>a {
  background-color: #206D3C;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

/* Style des messages de validation */
.valid-feedback {
  color: #28a745;
  display: none;
}

.invalid-feedback {
  color: #dc3545;
  display: none;
}

/* Style des messages d'alerte */
.alert {
  width: 100%;
  margin-top: 10px;
  display: block;
}

.alert ul {
  list-style: none;
  padding-left: 0;
}

.alert .requirements {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.alert .requirements i {
  margin-right: 5px;
}

.alert .requirements .text-success {
  display: inline-block;
}


/* PAGE CONNEXION */

.container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container2 form {
  position: relative;
  background-color: rgba(215, 197, 168, 0.7); 
}

.container2 form::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: url(../img/formConnexion.jpg) no-repeat;
  background-size: cover;
  border-radius: 7px;
  z-index: -1;
}


/*  PAGE ACCUEIL */

.titreAccueil {
  font-family: 'Marhey', sans-serif;
  font-size: 2.5rem;
  text-align: center;
  color: #B5CA69;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 4rem;
}

h3 {
  font-family: 'Marhey', sans-serif;
  margin-top: 2rem;
}

.container3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body > div:nth-child(4) > img {
   width: 10rem;
 height: auto;
}

.buttonHome {
  padding: 10px 20px;
  background-color: #206D3C;
  color: #fff;
  border: none;
  border-radius: 50px;
  text-align: center;
  margin-top:5rem;
  height: 5rem;
  font-size: 1.5rem;
  font-family: 'Exo', sans-serif;}

.buttonHome:hover {
  background-color:  rgba(215, 197, 168, 0.7); 
}



/* RESPONSIVE */

/* PAGE INSCRIPTION */
@media screen and (max-width: 1086px) {
  .container {
    max-width: 90%;
    padding: 1rem;
    margin-top: 0rem;
  }

  h1 {
    font-size: 1.5rem;
    margin-bottom: 0rem;
  }

  form {
    width: 90%;
    max-width: 100%;
    height: auto;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="password"],
  label {
    width: 100%;
    margin-right: 0;
    padding: 0.1rem;
  }

  select#entreprise {
    width: 91%;
    margin-right: 0;
    padding: 0.1rem;
  }

  .button {
    width: 100%;
    max-width: 100%;
  }

  input,
  select,
  label {
    margin-bottom: 0rem;
  }

  .form-check {
    margin-bottom: 0rem;
  }

  .texte.form-check {
    margin-top: 0rem;
    margin-bottom: 0rem;
  }

  /* PAGE CONNEXION */

  .container2 {
    max-width: 100%;
    padding: 1rem;
    margin-top: 0rem;
  }
}


@media screen and (max-width: 768px) {
  label {
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
  }


  .form-label2 {
    width: 60%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    background-color: rgba(215, 197, 168, 0.9);
  }

  .form-label1 {
    width: 80%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    background-color: rgba(215, 197, 168, 0.9);
  }

  .form-labels {
    width: 65%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    margin-left: 0.6rem;
    background-color: rgba(215, 197, 168, 0.9);

  }

  .form-check-label {
    width: 110%;
    box-sizing: border-box;
    margin-bottom: 0.5em;
    background-color: rgba(215, 197, 168, 0.9);

  }
}