@import url('https://fonts.googleapis.com/css2?family=Exo&display=swap');
/* font-family: 'Exo', sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Marhey&display=swap');
/* font-family: 'Marhey', sans-serif; */

body {
  background-color: #7A9855;
}

h1 {
  font-family: 'Marhey', sans-serif;
  text-align: center;
  margin-bottom: 3rem;
  color: #B5CA69;
  font-weight: bolder;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-top: 1rem;
}


/* validation champs */
.valid-feedback,
.invalid-feedback {
  margin-left: calc(2em + 0.25rem + 1.5rem);
}


/* formulaire */

.container form {
  background-color: #D7C5A8;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

form {
  width: 70rem;
  height: 30rem;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  height: auto;
  font-family: 'Exo', sans-serif;
  color: #206D3C;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  font-weight: bold;

}

/* Style des champs de saisie */
input[type="text"],
input[type="email"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-control[type="password"] {
  width: 100%;
}

select#entreprise {
  margin-bottom: 2rem;
  width: 66rem;
  margin-left: 0.8rem;
}

.form-check {
  margin-bottom: 2rem;
}

/* Style du bouton */
.button {
  padding: 10px 20px;
  background-color: #206D3C;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.button:hover {
  background-color: #7A9855;
}

body > div > a {
  background-color: #206D3C;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  text-decoration: none;
}

/* Style des messages de validation */
.valid-feedback {
  color: #28a745;
  display: none;
}

.invalid-feedback {
  color: #dc3545;
  display: none;
}

/* Style des messages d'alerte */
.alert {
  width: 100%;
  margin-top: 10px;
  display: block;
}

.alert ul {
  list-style: none;
  padding-left: 0;
}

.alert .requirements {
  margin-bottom: 5px;
  display: flex;
  align-items: center;
}

.alert .requirements i {
  margin-right: 5px;
}

.alert .requirements .text-success {
  display: inline-block;
}

/* PAGE CONNEXION */


/* RESPONSIVE */

/* Responsive */
@media screen and (max-width: 1086px) {
  .container {
    max-width: 90%;
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  form {
    width: 90%;
    max-width: 100%;
    height: auto;
  }

  input[type="text"],
  input[type="email"],
  input[type="date"],
  input[type="password"] {
    max-width: 100%;
    margin-right: 0;
  }

  .button {
    width: 100%;
    max-width: 100%;
  }

  input,
  select,
  label {
    margin-bottom: 1rem;
  }
}